{% extends 'pages/abstract/default.html.twig' %}

{% block page_title %}{{ blog.blog_name }}{% endblock %}
{% block page_description %}{% endblock %}
{% block breadcrumb %}{% endblock %}
{% block body_matter %}
    {% block follow %}
        {% if checkAuthenticated() %}
            {% if checkAccess("follow_blog", {
                'blog': blog,
                'user': current_user
            }) %}
                <form action="{{ site.uri.public }}/blogs/b/{{ blog.blog_name }}/follow" method="post">
                    {% include "forms/csrf.html.twig" %}
                    <div class="form-group">
                        <button class="btn btn-default btn-block">{{ translate('FOLLOW') }}</button>
                        <a href="{{ site.uri.public }}/blogs/b/{{ blog.blog_name }}">
                    </div>
                </form>
            {% elseif checkAccess('unfollow_blog', {
                'blog': blog,
                'user': current_user
            }) %}
                <form action="{{ site.uri.public }}/blogs/b/{{ blog.blog_name }}/unfollow" method="post">
                    {% include "forms/csrf.html.twig" %}
                    <div class="form-group">
                        <button class="btn btn-default btn-block">{{ translate('UNFOLLOW') }}</button>
                    </div>
                </form>
            {% endif %}
        {% endif %}
    {% endblock %}
    {% for post in blog.posts %}
        <div class="thumbnail">
            <div class="caption">
                {{ post.created_at }}
                <h3>
                    <a href="/posts/p/{{ post.post_id }}">{{ post.post_title }}</a>
                </h3>
            </div>
        </div>
    {% endfor %}
{% endblock %}
