{% extends 'pages/abstract/default.html.twig' %}

{% block page_title %}Followed Blogs{% endblock %}
{% block page_description %}{% endblock %}
{% block body_matter %}
    <div class="table-responsive">
        <table class="table table-hover">
            <th>Blog</th>
            <th>Owner</th>
            <th>Last Post</th>
            {% for blog in blogs %}
                    <tr>
                        <td>
                            <a href="{{ site.uri.public }}/blogs/b/{{ blog.blog_name }}">
                                {{ blog.blog_name }}
                            </a>
                        </td>
                        <td>
                            {{ blog.user.user_name }}
                        </td>
                        <td>
                            <a href="{{ site.uri.public }}/posts/p/{{ blog.bp_id }}">{{ blog.bp_title }}</a>
                            on the
                            <span>{{ blog.bp_created_at|date("Y-m-d H:i") }}</span>
                        </td>
                        <td>
                            <form action="{{ site.uri.public }}/blogs/b/{{ blog.blog_name }}/unfollow" method="post">
                                {% include "forms/csrf.html.twig" %}
                                <div class="form-group">
                                    <button class="btn btn-default btn-block">{{ translate('UNFOLLOW') }}</button>
                                </div>
                            </form>
                        </td>
                    </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
