{% extends 'pages/abstract/default.html.twig' %}
{% set page_active = "home" %}

{% block page_title %}{{ translate("HOME") }}{% endblock %}

{% block page_description %}{% endblock %}

{% block body_matter %}
    {% for post in posts %}
        <div class="panel panel">
            <div class="panel-heading">
                <h3>
                    <a href="{{ site.uri.public }}/posts/p/{{ post.bp_id }}">
                        {{ post.bp_title }}
                    </a>
                </h3>
                <div>{{ post.blog_name }} {{ post.bp_created_at|date("Y-m-d H:i") }}</div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
