{% extends 'pages/abstract/default.html.twig' %}
{% block stylesheets %}
    {% block stylesheets_site %}
        {{ assets.css() | raw }}
    {% endblock %}
    {% block stylesheets_page %}
        {{ assets.css('css/pages/markdown') | raw }}
    {% endblock %}
{% endblock %}

{% block page_title %}{{ post.post_title }}{% endblock %}
{% block breadcrumb %}{% endblock %}
{% block page_description %}{% endblock %}
{% macro recursiveReplies(comment, post, currentUser) %}
    <div>
        <div class="panel" id="{{ comment.comment_id }}">
            <div class="panel-body">{{ comment.comment_text }}</div>
            <div class="panel-footer" style="overflow: hidden">
                {% if checkAuthenticated() %}
                    <button id="{{ comment.comment_id }}" class="reply btn btn-default">{{ translate("COMMENT.REPLY") }}</button>
                {% endif %}
                {% if checkAuthenticated() %}
                    {% if checkAccess("edit_comment", {
                        'user': currentUser,
                        'comment': comment,
                    }) %}
                        <button id="{{ comment.comment_id }}-edit" class="edit btn btn-default">{{ translate("COMMENT.EDIT") }}</button>
                    {% endif %}
                {% endif %}
                    <span style="float: right">
                        {{ translate("COMMENT.POSTED_BY") }} {{ comment.writer.user_name }}
                        {{ translate("COMMENT.POSTED_ON") }} {{ comment.created_at|date("Y-m-d H:i") }}
                        {% if comment.created_at != comment.updated_at %}
                            {{ translate("COMMENT.EDITED_ON") }} {{ comment.updated_at|date("Y-m-d H:i") }}
                        {% endif %}
                    </span>
            </div>
        </div>
        {% if checkAuthenticated() %}
            <form class="replyForm" id="{{ comment.comment_id }}"
                  action="{{ site.uri.public }}/posts/p/{{ post.post_id }}/comment/{{ comment.comment_id }}"
                  method="post" style="margin-left: 3%">
                {% include "forms/csrf.html.twig" %}
                <div class="form-group">
                    <label for="comment-reply">{{ translate('COMMENT.REPLY_TEXT') }}</label>
                    <textarea class="form-control" id="comment-reply" name="comment_text"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">{{ translate('COMMENT.REPLY_POST') }}</button>
                </div>
            </form>
            {% if checkAccess("edit_comment", {
                'user': currentUser,
                'comment': comment,
            }) %}
                <form class="editForm" id="{{ comment.comment_id }}-edit"
                      action="{{ site.uri.public }}/posts/p/{{ post.post_id }}/comment/edit/{{ comment.comment_id }}"
                      method="post">
                    {% include "forms/csrf.html.twig" %}
                    <div class="form-group">
                        <textarea class="form-control" name="comment_text">{{ comment.comment_text }}</textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="edit btn btn-primary" >{{ translate('COMMENT.EDIT') }}</button>
                    </div>
                </form>
            {% endif %}
        {% endif %}
        <div style="margin-left: 3%">
            {% if comment.replies|length %}
                {% for reply in comment.replies %}
                    {{ _self.recursiveReplies(reply, post, currentUser) }}
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% block body_matter %}
    {% block post %}
        <div class="panel panel-default">
            <div class="panel-heading" style="overflow: hidden">
                <div>
                    {{ translate("POST.POSTED_BY") }} {{ post.blog.user.user_name }}
                    {{ translate("POST.POSTED_ON") }} {{ post.created_at|date("Y-m-d H:i")}}
                    {% if post.created_at != post.updated_at %}
                        {{ translate("POST.EDITED_ON") }} {{ post.updated_at|date("Y-m-d H:i") }}
                    {% endif %}
                    {% if checkAuthenticated() %}
                        {% if checkAccess("edit_post", {
                            'user': currentUser,
                            'post': post.blog.user,
                        }) %}
                            <a href="{{ site.uri.public }}/posts/edit/{{ post.post_id }}" class="text-right">
                                <input type="button" class="btn btn-default text-right" value="{{ translate("POST.EDIT") }}" style="float: right">
                            </a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div style="padding: 15px;">
                <div id="post-text">{{ post.post_text }}</div>
            </div>
        </div>
    {% endblock %}
    {% block comments %}
        {% if checkAuthenticated() %}
            {% block form %}
                <div style="padding-bottom: 5%">
                    <form action="{{ site.uri.public }}/posts/p/{{ post.post_id }}/comment" method="post">
                        {% include "forms/csrf.html.twig" %}
                        <div class="form-group">
                            <label for="comment-input">{{ translate("COMMENT.WRITE") }}</label>
                            <textarea id="comment-input" name="comment_text" class="form-control"></textarea>
                        </div>
                        <button class="btn btn-primary">{{ translate("COMMENT.POST") }}</button>
                    </form>
                </div>
            {% endblock %}
        {% endif %}
        {% block text %}
            {% for comment in comments %}
                {{ _self.recursiveReplies(comment, post, currentUser) }}
            {% endfor %}
        {% endblock %}
    {% endblock %}
{% endblock %}

{% block scripts_page %}
    <!-- Include validation rules -->
    <script>
     {% include "pages/partials/page.js.twig" %}
    </script>
    <!-- Include page-specific JS -->
    {{ assets.js('js/pages/post') | raw }}
{% endblock %}
