<nav class="navbar navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            {% block navbar_logo %}<a href="{{ site.uri.public }}"
                                      class="navbar-brand">{{ site.title }}</a>{% endblock %}
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                <i class="fa fa-bars"></i>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
            <ul class="nav navbar-nav">
                {% if checkAuthenticated() %}
                    <li>
                        <a href="{{ site.uri.public }}/blogs/my_blog">{{ translate("MY_BLOG") }}</a>
                    </li>
                    <li>
                        <a href="{{ site.uri.public }}/blogs/followed">{{ translate("FOLLOWED_BLOGS") }}</a>
                    </li>
                    <li>
                        <a href="{{ site.uri.public }}/posts/write">{{ translate("WRITE_POST") }}</a>
                    </li>
                {% endif %}
                <!-- <li> -->
                <!-- <a href="{{ site.uri.public }}/blogs">{{ translate("BLOGS") }}</a> -->
                <!-- </li> -->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                {% if not checkAuthenticated() %}
                    <li>
                        <a href="{{ site.uri.public }}/account/sign-in"
                           class="nav-highlight">{{ translate("SIGNIN") }}</a>
                    </li>
                {% else %}
                    {% include "navigation/user-card.html.twig" %}
                {% endif %}
            </ul>
        </div>
        <!-- /.navbar-custom-menu -->
    </div>
    <!-- /.container-fluid -->
</nav>
